<!DOCTYPE html>
<html lang="en">
<head>

    {%load staticfiles%}
    <!-- For bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--CSS stylesheet-->
    <link href="{% static 'app/style.css' %}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid col-md-3 col-md-offset-1" >
        <form method="post" action="{% url 'app:login' %}" id="login_form">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="u" >
                    <input type="password" class="form-control" placeholder="Password" name="p" >

                </div>
                <button type="submit" class="btn btn-info">Log in</button>
        </form>
    </div>

 <!--Using the message framework-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>